In [6]:
import calendar

calendar.month_name[4]

'April'

In [7]:
import pandas as pd

# Example dictionary with arrays of different lengths
data = {
    'array1': [1, 2, 3],
    'array2': [4, 5],
    'array3': [6, 7, 8, 9]
}

# Determine the maximum length of arrays
max_length = max(len(arr) for arr in data.values())

# Pad shorter arrays with NaN to match the maximum length
padded_data = {key: arr + [float('nan')] * (max_length - len(arr))
               for key, arr in data.items()}

# Convert the padded data to a DataFrame
df = pd.DataFrame(padded_data)

# Display the DataFrame
print(df)

   array1  array2  array3
0     1.0     4.0       6
1     2.0     5.0       7
2     3.0     NaN       8
3     NaN     NaN       9

In [ ]:

selected = option_menu(
    menu_title=None,
    options=[
        "Home Page",
        "Data Entry",

    ],
    icons=[
        'house', '1-circle', '2-circle', '3-circle',
        '4-circle', '5-circle', '6-circle'
    ],
    menu_icon="list-nested",
    default_index=0,
    orientation="horizontal"
)

In [ ]:
def owner_data():
    details = {
        "date_recorded": datetime.now(),
        "country": st.session_state.country_name,
        "name/org": st.session_state.owner_name,
        "review_period": st.session_state.review_period
    }
    return details

In [ ]:

if st.button("Submit & Proceed", key="owner_info_button"):
    if not country_being_assessed or not owner_name or not review_period:
        st.error("Please fill out all fields.")
    else:
        print(country_being_assessed, owner_name, review_period)
        st.success(
            "Submitted! Proceed to the next tab to perform assessment")

In [15]:
import pandas as pd

responses = {
    "x": "team_status"
}

pd.DataFrame(responses, index=[0])

             x
0  team_status

In [ ]:
pd.DataFrame(responses, index="1")

In [ ]:
x = {
    "name": "George", "Id": 2344
}
x_df = pd.DataFrame(x, index=[0])

y = {
    "name": "George", "Id": 2344, "gender": "M"
}